.contacts {
    margin-top: 24px;
}

.content {
    display: flex;
    justify-content: center;
}

.contact-info {
    padding: 24px;
    background-color: rgba(1, 149, 37, 0.2);
    width: 100%;

    h2 {
        font-size: 24px;
        padding-bottom: 16px;
        color: black;
    }

    img {
        width: 100%;
        height: auto;
    }

    ul {
        list-style: none;
        width: 400px;
        height: 300px;
    }

    li {
        margin-bottom: 16px;
    }
}
