@import "./variables.css";

.title {
    margin-bottom: 0;
}

.subtitle {
    color: black;
    font-size: 24px;
    padding-left: 16px;
    margin-top: 0;
}

.home-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.description {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 56px 24px;

    img {
        width: 100%;
        width: 500px;
        height: 300px;
        border-radius: 50%;
    }

    p {
        padding-right: 24px;
    }
}

.values-section {
    display: inline-flex;
    background-color: rgba(1, 149, 37, 0.2);
    padding: 24px 18px;
    border-radius: 4px;

    h3 {
        color: var(--green);
        font-size: 24px;
        padding-bottom: 16px;
    }
}

.values-text {
    padding-left: 24px;
    width: 345px;

    p {
        text-align: justify;
    }

    b {
        font: revert;
    }
}

.values-text:first-child {
    padding-left: 0;
}

.organization-section {
    margin-top: 54px;
}

.organization-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 48px 0 120px;

    h3 {
        font-size: 24px;
        background-color: rgba(254, 125, 1, 0.2);
        width: 300px;
        height: 300px;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
