@import './variables.css';

.menu-navbar {
    margin: 0;
    padding: 8px 40px;
    background-color: #333;
    
    ul {
        list-style-type: none;
        overflow: hidden;
    }
    
    li:first-child {
        float: left;
    }

    li {
        float: right;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #111;
    }
}

h1 {
    color: var(--green);
    font-size: 46px;
}